.container {
  border: 1px solid white;
}

.container>div {
  padding: 1em;
}

.stack {
  display: flex;
  flex-flow: column;
  justify-content: start;
}

.stack>a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.iconholder {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .5em;
}

.homelink {
  text-decoration: none;
  display: flex;
  align-items: center;
  opacity: .7;
}