* {
  color: white;
  font-family: "Neue Haas Grotesk", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h3 {
  margin: 30px 0;
  font-size: 32px;
  font-weight: 200;
}

h4 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

button {
  align-items: center;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 2px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  justify-content: center;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}