.secondary {
  border: 2px solid #FAB000;
  color: #FAB000;
}

.green {
  border: 2px solid #1AFF00;
  color: #1AFF00;
}

.offset {
  margin-right: 1rem;
}

.container button:nth-child(odd) {
  border-radius: 5px 0 0 5px;
}

.container button:nth-child(even) {
  border-radius: 0 5px 5px 0;
  margin-right: 15px;
}

.container>button.active {
  border-color: #1AFF00;
  color: #1AFF00;
}