.container {
  display: flex;
  flex-flow: row;
  border: 1px solid white;
  padding: 25px 50px;
}

.active {
  padding-left: 7px;
  cursor: pointer;
  text-decoration: underline;
}

.inactive {
  padding-left: 7px;
  color: gray;
}