.container {
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 80px;
}

.company {
  margin-top: 80px;
  text-decoration: overline;
  text-decoration-thickness: 4px;
}

.table {
  margin-top: 20px;
  margin-bottom: 40px;
}

.table td {
  padding-right: 30px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: white;
}