.account {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 75px;
  gap: 15px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem;
  border-bottom: solid 1px white;
  padding: .5em 1em;
}

.title {
  padding: 1em 1em;
  border-bottom: solid 1px white;
}